* {
  box-sizing: border-box
}
   
main {
  width: 90%;
  margin: 0 auto;
  list-style: none;
}

.home-bookmark-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}
   
body {  
  font-family: 'Roboto', sans-serif; 
  background-color: rgb(255, 229, 197);   
}
   
h1, h2 {
  text-align: center;
}

fieldset, .show, .js-add-bookmark-form {
  display: inline-block;
}

.js-add-bookmark-form {
  margin: 0 auto;
  width: 100%;
}

.js-collapsible {
  background-color: rgb(255, 133, 133);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 2px solid rgb(92, 0, 0);
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 4px;
}
  
.active, .js-collapsible:hover {
  background-color: rgb(92, 0, 0);
  color: white;
}

.content {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  background-color: rgb(255, 206, 206);
  text-align: center;
  margin-bottom: 10px;
}

.hidden {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: plum;
  text-align: center;
}
  
.content > p {
  text-align: left;
}
  
.checked {
  color: orange;
}
  
.dropdown {
  width: 100%;
  height: 20%;
  margin: 10px auto;
}
  
/* label {
  margin: 5px;
} */

/* .js-rating > label {
  float: none;
} */

.dropdown {
  position: relative;
  float: right;
}

.show {
  position: absolute;  
}
  
a.button {
  background-color: rgb(255, 133, 133);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 2px solid rgb(92, 0, 0);
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

a.button:hover {
  background-color: rgb(92, 0, 0);
  color: white
}

a:link {
  text-decoration: none;
}

.js-bookmark-delete-button {
  background-color: rgb(255, 133, 133);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 2px solid rgb(92, 0, 0);
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

.js-bookmark-delete-button:hover {
  background-color: rgb(92, 0, 0);
  color: white
}

/* .js-site-link-btn {
  background-color: grey;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
  
.js-site-link-btn:hover {
  background-color: purple;
  color: white
} */

.current-rating {
  padding: 16px;
  margin: 16px;
}

.js-add-button {
  position: relative;  
  background-color: rgb(255, 133, 133);
  color: black;
  padding: 16px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  width: 100%;
}
  
.js-add-button:hover, .js-add-button:focus {
  background-color: rgb(92, 0, 0);
  color: white
}
  
select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgb(255, 133, 133);
  cursor: pointer;
}
  
select:hover {
  background-color: rgb(92, 0, 0);
  color: white;
}

input {
  display: block;
  width: 100%;
  height: 200%;
  margin: 5px 0;
}
  
.description {
  display: block;
  max-width: 300px;
}
  
.textarea{
  max-width: 300px;
  width: 100%;
  padding: 5px;
}
  
.js-add-fieldset{
  height:70%;
  max-height:90%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

#js-bookmark-rating {
  margin: 15px auto;
}

.js-create, .js-cancel {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(255, 133, 133);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 2px solid rgb(92, 0, 0);
  cursor: pointer;
  border-radius: 4px;
}

.js-create:hover, .js-cancel:hover {
  background-color: rgb(92, 0, 0);
  color: white
}
  
.error-container {
  color: red;
  font-weight: bold;
  display: inline-block;
}
  
.error-container * {
  display: inline-block;
}
  
#cancel-error {
  margin: 5px;
  border: 1px solid black;
}

.rating { 
  border: none;
  float: left;
}

.rating > input { 
  display: none; 
  } 

.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: block;
  content: "\f005";
}

.rating > label { 
  color: #ddd;  
  float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover over current star */
.rating:not(:checked) > label:hover ~ label,
.rating:not(:checked) > label:focus, /* focus on current star */
.rating:not(:checked) > label:focus ~ label  { 
  color: #FFD700;  
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */ 
.rating > label:active ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;  
} 